
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Trade+Winds);

//variables 

$headfont        : font-family "Trade Winds", sans-serif;
$bodyfont        : font-family "Droid Serif", serif;
$green             : #006b24;
$color2            :#fffccc;

//$headfont: 
//$bodyfont: 
