
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Racing+Sans+One|Merienda+One);

//variables 

$title-font         : font-family "Racing Sans One", sans-serif;
$head-font        : font-family "Merienda One", sans-serif;
$body-font        : font-family "Droid Serif", serif;

$gold                : #D1A319;
$Lgray             :#e6e6e6;
$Dgray            :#333;
$Mgray            :#666;
