
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Racing+Sans+One|Merienda+One);

//variables 

$Titlefont         : font-family "Racing Sans One", sans-serif;

$headfont        : font-family "Merienda One", sans-serif;

$bodyfont        : font-family "Droid Serif", serif;

$gold                : #D1A319;


$Lgrey             :#e6e6e6;

$Dgrey            :#333;
