/* imports */

@import "compass";
@import "compass/reset";

//core parts

@import "variables";
@import "mixins";
@import "modules";

//js parts

body {
	background-color: red;
}
section {
    background-color: blue;
    width: 100%;
    height: 200px;
    border: 2px solid green;
}
.container {
    background-color: $color1;
    border: 30px solid red;
    width: 100%;
    margin: 0 auto;
}
