/* imports */

@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "variables";

//base styles
p {
    font-family: $body-font;
    font-size: 20px;
    margin: 15px;
}
h1, h2, h3 {
    font-family: $head-font;
    color: black;
}

body {
    background-color: $Mgray;
    width: 100%;
    position: relative;
}
.row {
    margin: 0;
}
.heading {
    @include background-image(radial-gradient( #ccc 300px, $Mgray 900px));
}
section {
    background-color: $Lgray;
    width: 100%;
} 
.logo {
    background-color: transparent;
    img {
        width: 140px;
        height: 140px;
        margin-top: 10px;
    }
}
.title {
    height: 170px;
    background-color: transparent;
    h1 {
        font-family: $title-font;
        font-size: 5.2em;
        color: $gold;
        text-shadow: 2px 2px black;
        @media (max-width: 575px) {
            font-size: 3.6em;
        }
        @media (min-width: 1400px) {
            font-size: 6em;
        }
    }
    h3 {
        font-size: 1.8em;
        margin-top: 10px;
    }
}
.fixed {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.nav-menu-small {
    color: $gold;
    font-size: 1.5em;
    margin-left: 30%;
    margin-top: 15px;
    float: left;
}
.menuButton {
    margin-right: 39%;
    float: right;
}
#nav-row {
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid $Mgray;
    border-radius: 5px;
}
.navbar-nav {
    width: 100%;
    padding: 0  0 20px;
    @media (min-width: 768px) {
        max-height: 50px;
    }
    @media (min-width: 1200px) {
        padding: 0 90px 0 90px;
    }
}
//96-115 used so that bootstrap is not overwriting my styles. probably a better way to do this? 
.navbar-inverse .navbar-nav li {
    font-size: 1.6em;
    width: 19.5%;
    @media (max-width: 767px) {
        padding-left: 30%;
    }
    a {
        color: white;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        &:hover {
            color: $gold;
            text-decoration: underline;
        }
        @media (min-width: 400px) {
            width: 200px;
        }
    }
}
#navi-bar {
    z-index: 1;   
}
.item {
    margin: 0 auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: $Dgray;
    img {
        width: 100%;
        @media (min-width: 1200px) {
            width: 75%;
            margin: 0 auto;

        }
    }
}
.page {
    background-color: $Lgray;
    h1 {
        font-size: 3.2em;
        text-align: center;
     }
    p {
        color: black;
        line-height: 28px;
    }
}
.break-img {
    padding: 0;
    img {
        width: 100%;
        max-height: 400px;
        @media(min-width:950px) {
            min-height: 400px;
        }
    }
}
.fadeB {
    @include background-image(linear-gradient(to left, #1e1e1e, #4c4c4c));
    height: 400px;
}
.fadeA {
    @include background-image(linear-gradient(to right,  #1e1e1e, #4c4c4c));
    height: 400px;
}
.words {
    display: inline-block;
    background-color: $Lgray;
    padding-top: 10px;
}
#email {
    color: blue;
    font-weight: bold;
    font-size: 2em;
    margin-left: 15px;
}
footer {
    background-color: $Dgray;
    height: 30px;
    padding: 8px;
    border-radius: 5px;
    border-top: 2px solid #ccc;
    span {
        color: #999;
        text-align: center;
        font-size: 12px;
    }
}
//borders for the break imgs