<!DOCTYPE html>
<html>
    <head>
        <title>random content</title>
    </head>
    <body>
        <div>
            main sections
                header: Rayce Gravity
                tagline: Ski bike conversion kits
                logo: rg (preferably vector image)
                (when scroll down title is replaced with logo/tagline)

                menu?


                carousel: several large images (full size jumbotron?)


                brief about section:
                    mission statement: bringing functionality to ski biking.  oppurtunityto ride your bike all year round.
                    about the company: small start up based out of montrose/telluride


                How it works:
                    downhill bike frames, intuative riding, no brakes, 
                    converting from bike to ski bike,


                Ski Resort Approval:
                    how to get on and off lift, asking permission from resort
                    safety concerns

                Contact:
                    order form, email, phone, custom orders only
                    average pricing, twitter, youtube

                footer
                    designed by, patent pending, last update, to top
        </div>
    </body>
</html>